footer(class="footer container-fluid")
    div(class="footer__content row")
        p(class="text text--size-l footer__text col-xl-12") Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        h3(class="title footer__title col-xl-12") Lorem ipsum dolor sit amet
        div(class="footer__link-block col-xl-12")
            a(href="#5" class="button button--square footer__link") SYMU.CO/FREEBIES
