@import "../block-text/block-text.css";

.photo {

    &__block-image {
        padding: 0;
        min-height: 563px;
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__text-block {
        padding: 0;
        background-color: #f7f8fb;

        .block-text__description {
            padding-left: 4px;
        }
    }

    &__text-block--first {
        padding-left: 111px;
        padding-top: 185px;
    }

    &__text-block--second {
        padding-top: 183px;

        .block-text {
            max-width: 516px;
            margin: 0 auto;
        }
    }
}
