<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Crios</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&amp;amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/common.css">
</head>

<body>
    <header class="header container">
        <nav class="main-nav row">
            <div class="menu col-xl-4"><button class="button button--circle button-menu button-menu--opened" type="button"><span class="button-menu__container"><span class="button-menu__icon"></span></span></button>
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item"><a class="nav__link" href="#5">Home</a></li>
                        <li class="nav__item"><a class="nav__link" href="#5">About us</a></li>
                        <li class="nav__item"><a class="nav__link" href="#5">Contacts</a></li>
                    </ul>
                </nav>
            </div>
            <div class="logo col-xl-4">
                <div class="logo__content"><a class="logo__title" href="#5">Crios</a>
                    <p class="text text--size-l text--lighter text--transform logo__subtitle">Free psd template</p>
                </div>
            </div>
            <div class="search col-xl-4">
                <form class="search__form"><input class="search__field-search" type="text"></form><button class="button button--circle search__button" type="button"><svg class="search__img">
                        <use xlink:href="images/svg-sprite/svg-sprite.svg#search"></use>
                    </svg></button>
            </div>
        </nav>
    </header>
    <main class="main">
        <div class="banner container-fluid">
            <div class="banner__content row">
                <h1 class="title banner__title col-xl-12">Simple PSD template with cool stuff</h1>
                <p class="text text--size-l banner__text col-xl-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="banner__block-link  col-xl-12"><a class="button button--square banner__link" href="#5">Explore template</a></div>
            </div>
        </div>
        <div class="offers container">
            <div class="offers__content">
                <p class="text text--size-l offers__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <h2 class="title offers__title">Lorem ipsum dolor sit amet</h2>
                <div class="offers__list row">
                    <div class="offers-item col-xl-3">
                        <div class="offers-item__container-img"><img class="offers-item__img" src="images/svg-icons/offer-1.jpg" alt="Offer"></div>
                        <p class="offers-item__title">Lorem ipsum dolor sit amet</p>
                        <p class="text text--size-s text--darker offers-item__text">Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</p>
                    </div>
                    <div class="offers-item col-xl-3">
                        <div class="offers-item__container-img"><img class="offers-item__img" src="images/svg-icons/offer-2.jpg" alt="Offer"></div>
                        <p class="offers-item__title">Lorem ipsum dolor sit amet</p>
                        <p class="text text--size-s text--darker offers-item__text">Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</p>
                    </div>
                    <div class="offers-item col-xl-3">
                        <div class="offers-item__container-img"><img class="offers-item__img" src="images/svg-icons/offer-3.jpg" alt="Offer"></div>
                        <p class="offers-item__title">Lorem ipsum dolor sit amet</p>
                        <p class="text text--size-s text--darker offers-item__text">Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</p>
                    </div>
                    <div class="offers-item col-xl-3">
                        <div class="offers-item__container-img"><img class="offers-item__img" src="images/svg-icons/offer-4.jpg" alt="Offer"></div>
                        <p class="offers-item__title">Lorem ipsum dolor sit amet</p>
                        <p class="text text--size-s text--darker offers-item__text">Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</p>
                    </div>
                </div><a class="button button--square offers__link" href="#5">Check our offer</a>
            </div>
        </div>
        <div class="photo container-fluid">
            <div class="photo__content row">
                <div class="photo__block-image col-xl-6"><img class="photo__img" src="images/photo/photo-1.jpg" srcset="images/photo/photo-1@2x.jpg 2x" alt="Photo"></div>
                <div class="photo__text-block photo__text-block--first col-xl-6">
                    <div class="block-text">
                        <h3 class="title block-text__title">Lorem ipsum dolor</h3>
                        <p class="text text--darker block-text__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
                    </div>
                </div>
                <div class="photo__text-block photo__text-block--second col-xl-6">
                    <div class="block-text">
                        <h3 class="title block-text__title">Lorem ipsum dolor</h3>
                        <p class="text text--darker block-text__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
                    </div>
                </div>
                <div class="photo__block-image photo__block-image--second col-xl-6"><img class="photo__img" src="images/photo/photo-2.jpg" srcset="images/photo/photo-2@2x.jpg 2x" alt="Photo"></div>
            </div>
        </div>
        <div class="apps">
            <div class="apps__content container">
                <div class="apps-item apps-item--first row">
                    <div class="apps-item__image-block"><img class="apps-item__img" src="images/apps/apps-1.png" srcset="images/apps/apps-1@2x.png 2x" alt="Apps"></div>
                    <div class="apps-item__text-block">
                        <div class="block-text">
                            <h3 class="title block-text__title title--blue">Lorem ipsum dolor</h3>
                            <p class="text text--darker block-text__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
                        </div>
                    </div>
                </div>
                <div class="apps-item apps-item--second row">
                    <div class="apps-item__text-block">
                        <div class="block-text">
                            <h3 class="title block-text__title title--blue">Lorem ipsum dolor</h3>
                            <p class="text text--darker block-text__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
                        </div>
                    </div>
                    <div class="apps-item__image-block"><img class="apps-item__img" src="images/apps/apps-2.png" srcset="images/apps/apps-2@2x.png 2x" alt="Apps"></div>
                </div>
            </div>
        </div>
        <div class="ceo">
            <div class="container">
                <div class="ceo__content row">
                    <div class="ceo__photo-block  col-xl-6"><img class="ceo__photo" src="images/photo/ceo.jpg" srcset="images/photo/ceo@2x.jpg 2x" alt="Ceo"></div>
                    <div class="ceo__text-block col-xl-6">
                        <div class="block-text">
                            <h3 class="title block-text__title title--red">Template is awesome</h3>
                            <p class="text text--darker block-text__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
                        </div>
                        <div class="ceo__description">
                            <p class="ceo__name">John Doe</p>
                            <p class="ceo__profession">CEO at Crios.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer container-fluid">
        <div class="footer__content row">
            <p class="text text--size-l footer__text col-xl-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <h3 class="title footer__title col-xl-12">Lorem ipsum dolor sit amet</h3>
            <div class="footer__link-block col-xl-12"><a class="button button--square footer__link" href="#5">SYMU.CO/FREEBIES</a></div>
        </div>
    </footer>
    <script src="scripts/common.js"></script>
</body>

</html>
