.nav {
    position: absolute;
    top: 130px;
    width: 200px;
    background: #ffffff;
    border-radius: 22px;
    box-shadow: 0 0 35px rgba(218, 229, 239, 0.35);
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition-property: opacity, visibility, height;
    transition-duration: 0.25s;
    transition-timing-function: ease;

    &--opened {
        opacity: 1;
        visibility: visible;
    }

    &--opened {
        opacity: 1;
        visibility: visible;
    }

    &__list {
        width: 100%;
        list-style: none;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__item {
        text-align: center;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .nav__link {
        font-size: 15px;
        font-weight: 600;
        color: #43a9ff;
        text-decoration: none;
    }
}
