.offers-item {
    &__img {
        margin-bottom: 37px;
    }

    &__title {
        font-size: 18px;
        line-height: calc(18/18);
        letter-spacing: 0.18px;
        color: #000000;
        margin-bottom: 34px;
    }

    &__text {
        line-height: calc(24/14);
        letter-spacing: 0.14px;
        max-width: 239px;
        margin: 0 auto;
    }
}
